# masky souboru a slozek, ktere bude git ignorovat

# binarky
*.com
*.class
*.dll
*.exe
*.o
*.so

# VS2010 stuff
Debug/*
ipch/*
*.sdf
*.opensdf
*.sln
*.suo
*.vcxproj
*.filters
*.user

#Veci potrebne na linux
GL/*
BaseApp.h~
Camera.h~
GLee.c~
Makefile
Makefile (kopie)
Makefile~
Mesh.h~
ModelContainer.h~
UniversityRacer
glm/
main.h~
.gitignore~
GLee.c
